

<script charset="utf-8" type="text/javascript" src="~/assets/js/pages/crud/ktdatatable/base/data-ajax-custom.js"></script>

<!--begin: Search Form-->
<!--begin::Search Form-->
<div class="mb-7">
    <div class="row align-items-center">
        <div class="col-lg-9 col-xl-8">
            <div class="row align-items-center">
                <div class="col-md-4 my-2 my-md-0">
                    <div class="input-icon">
                        <input type="text" class="form-control" oninput="this.value = this.value.replace('i','İ').replace('ö','Ö').replace('ü','Ü').replace('ç','Ç').replace('ş','Ş').toUpperCase()" placeholder="Ara..." id="datatableAjaxDriverInformationSelect_search_query" />
                        <span>
                            <i class="flaticon2-search-1 text-muted"></i>
                        </span>
                    </div>
                </div>

                @await Component.InvokeAsync("SessionSearchList", new { id = "kt_datatable_search_driverInformationSelectSessionName" })

            </div>
        </div>
    </div>
</div>
<!--end::Search Form-->
<!--end: Search Form-->
<!--begin: Datatable-->
<div class="datatable datatable-bordered datatable-head-custom" id="datatableAjax_DriverInformationSelect"></div>
<!--end: Datatable-->
