@model dynamic


<div class="form-group row">
    <label class="col-form-label col-xl-3 col-lg-3">Şube</label>
    <div class="col-lg-9 col-xl-9">
        <select class="form-control is-valid" name="selectOffice" id="selectOffice">
            <option value="0"></option>
            @if (Model.Office != null)
            {

                @foreach (var office in Model.Office as List<Entities.Concrete.Office>)
                {
                    if (office.Name == (string)Model.UserOfficeName)
                    {
                        <option selected="" value="@office.Id">@office.Name</option>
                    }
                    else
                    {
                        <option value="@office.Id">@office.Name</option>
                    }
                }

            }
        </select>
    </div>
</div>