
@model dynamic

<div class="form-group row">
    <label class="col-form-label col-lg-3 col-xl-3">Ödeme Tipi</label>
    <div class="col-lg-9 col-xl-9">
        <select class="form-control is-valid" name="selectPaymentType" id="selectPaymentType">
            @if ((int)Model.SelectedId == -99)
            {
                <option selected="" value="0">Hepsi</option>
            }

            @foreach (var paymentType in Model.PaymentType as List<Entities.Concrete.PaymentType>)
            {

                if (paymentType.Id == (int)Model.SelectedId)
                {
                    <option selected="" value="@paymentType.Id">@paymentType.Name</option>
                }
                else
                {
                    <option value="@paymentType.Id">@paymentType.Name</option>

                }

            }
        </select>
    </div>
</div>
