@{
    ViewData["Title"] = "Kasa Raporu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    document.title = document.title + " - Kasa Raporu";
</script>

<!--begin::Card-->
<div class="card card-custom">
    <div class="card-header py-3">
        <div class="card-title">
            <span class="card-icon">
                <i class="flaticon2-shopping-cart text-primary"></i>
            </span>
            <h3 class="card-label">@ViewData["Title"]</h3>
        </div>
        <div class="card-toolbar">
            <!--begin::Dropdown-->
            <div class="dropdown dropdown-inline mr-2">
                <button type="button" class="btn btn-light-primary font-weight-bolder dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="svg-icon svg-icon-md">
                        <!--begin::Svg Icon | path:assets/media/svg/icons/Design/PenAndRuller.svg-->
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24" />
                                <path d="M3,16 L5,16 C5.55228475,16 6,15.5522847 6,15 C6,14.4477153 5.55228475,14 5,14 L3,14 L3,12 L5,12 C5.55228475,12 6,11.5522847 6,11 C6,10.4477153 5.55228475,10 5,10 L3,10 L3,8 L5,8 C5.55228475,8 6,7.55228475 6,7 C6,6.44771525 5.55228475,6 5,6 L3,6 L3,4 C3,3.44771525 3.44771525,3 4,3 L10,3 C10.5522847,3 11,3.44771525 11,4 L11,19 C11,19.5522847 10.5522847,20 10,20 L4,20 C3.44771525,20 3,19.5522847 3,19 L3,16 Z" fill="#000000" opacity="0.3" />
                                <path d="M16,3 L19,3 C20.1045695,3 21,3.8954305 21,5 L21,15.2485298 C21,15.7329761 20.8241635,16.200956 20.5051534,16.565539 L17.8762883,19.5699562 C17.6944473,19.7777745 17.378566,19.7988332 17.1707477,19.6169922 C17.1540423,19.602375 17.1383289,19.5866616 17.1237117,19.5699562 L14.4948466,16.565539 C14.1758365,16.200956 14,15.7329761 14,15.2485298 L14,5 C14,3.8954305 14.8954305,3 16,3 Z" fill="#000000" />
                            </g>
                        </svg>
                        <!--end::Svg Icon-->
                    </span>Dışarı Aktar(İcmal)
                </button>
                <!--begin::Dropdown Menu-->
                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                    <!--begin::Navigation-->
                    <ul class="navi flex-column navi-hover py-2">
                        <li class="navi-item">
                            <a class="navi-link" id="export_print">
                                <span class="navi-icon">
                                    <i class="la la-print"></i>
                                </span>
                                <span class="navi-text">Yazdır</span>
                            </a>
                        </li>
                        <li class="navi-item">
                            <a class="navi-link" id="export_copy">
                                <span class="navi-icon">
                                    <i class="la la-copy"></i>
                                </span>
                                <span class="navi-text">Kopyala</span>
                            </a>
                        </li>
                        <li class="navi-item">
                            <a class="navi-link" id="export_excel">
                                <span class="navi-icon">
                                    <i class="la la-file-excel-o"></i>
                                </span>
                                <span class="navi-text">Excel</span>
                            </a>
                        </li>
                        <li class="navi-item">
                            <a class="navi-link" id="export_csv">
                                <span class="navi-icon">
                                    <i class="la la-file-text-o"></i>
                                </span>
                                <span class="navi-text">CSV</span>
                            </a>
                        </li>
                        <li class="navi-item">
                            <a class="navi-link" id="export_pdf">
                                <span class="navi-icon">
                                    <i class="la la-file-pdf-o"></i>
                                </span>
                                <span class="navi-text">PDF</span>
                            </a>
                        </li>
                    </ul>
                    <!--end::Navigation-->
                </div>
                <!--end::Dropdown Menu-->
            </div>
            <!--end::Dropdown-->

            <!--begin::Dropdown-->
            <div class="dropdown dropdown-inline mr-2">
                <button type="button" class="btn btn-light-primary font-weight-bolder dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="svg-icon svg-icon-md">
                        <!--begin::Svg Icon | path:assets/media/svg/icons/Design/PenAndRuller.svg-->
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24" />
                                <path d="M3,16 L5,16 C5.55228475,16 6,15.5522847 6,15 C6,14.4477153 5.55228475,14 5,14 L3,14 L3,12 L5,12 C5.55228475,12 6,11.5522847 6,11 C6,10.4477153 5.55228475,10 5,10 L3,10 L3,8 L5,8 C5.55228475,8 6,7.55228475 6,7 C6,6.44771525 5.55228475,6 5,6 L3,6 L3,4 C3,3.44771525 3.44771525,3 4,3 L10,3 C10.5522847,3 11,3.44771525 11,4 L11,19 C11,19.5522847 10.5522847,20 10,20 L4,20 C3.44771525,20 3,19.5522847 3,19 L3,16 Z" fill="#000000" opacity="0.3" />
                                <path d="M16,3 L19,3 C20.1045695,3 21,3.8954305 21,5 L21,15.2485298 C21,15.7329761 20.8241635,16.200956 20.5051534,16.565539 L17.8762883,19.5699562 C17.6944473,19.7777745 17.378566,19.7988332 17.1707477,19.6169922 C17.1540423,19.602375 17.1383289,19.5866616 17.1237117,19.5699562 L14.4948466,16.565539 C14.1758365,16.200956 14,15.7329761 14,15.2485298 L14,5 C14,3.8954305 14.8954305,3 16,3 Z" fill="#000000" />
                            </g>
                        </svg>
                        <!--end::Svg Icon-->
                    </span>Dışarı Aktar(Tahsilat Detay)
                </button>
                <!--begin::Dropdown Menu-->
                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                    <!--begin::Navigation-->
                    <ul class="navi flex-column navi-hover py-2">
                        <li class="navi-item">
                            <a class="navi-link" id="export_print_detailCollection">
                                <span class="navi-icon">
                                    <i class="la la-print"></i>
                                </span>
                                <span class="navi-text">Yazdır</span>
                            </a>
                        </li>
                        <li class="navi-item">
                            <a class="navi-link" id="export_copy_detailCollection">
                                <span class="navi-icon">
                                    <i class="la la-copy"></i>
                                </span>
                                <span class="navi-text">Kopyala</span>
                            </a>
                        </li>
                        <li class="navi-item">
                            <a class="navi-link" id="export_excel_detailCollection">
                                <span class="navi-icon">
                                    <i class="la la-file-excel-o"></i>
                                </span>
                                <span class="navi-text">Excel</span>
                            </a>
                        </li>
                        <li class="navi-item">
                            <a class="navi-link" id="export_csv_detailCollection">
                                <span class="navi-icon">
                                    <i class="la la-file-text-o"></i>
                                </span>
                                <span class="navi-text">CSV</span>
                            </a>
                        </li>
                        <li class="navi-item">
                            <a class="navi-link" id="export_pdf_detailCollection">
                                <span class="navi-icon">
                                    <i class="la la-file-pdf-o"></i>
                                </span>
                                <span class="navi-text">PDF</span>
                            </a>
                        </li>
                    </ul>
                    <!--end::Navigation-->
                </div>
                <!--end::Dropdown Menu-->
            </div>
            <!--end::Dropdown-->

            <!--begin::Dropdown-->
            <div class="dropdown dropdown-inline mr-2">
                <button type="button" class="btn btn-light-primary font-weight-bolder dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="svg-icon svg-icon-md">
                        <!--begin::Svg Icon | path:assets/media/svg/icons/Design/PenAndRuller.svg-->
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24" />
                                <path d="M3,16 L5,16 C5.55228475,16 6,15.5522847 6,15 C6,14.4477153 5.55228475,14 5,14 L3,14 L3,12 L5,12 C5.55228475,12 6,11.5522847 6,11 C6,10.4477153 5.55228475,10 5,10 L3,10 L3,8 L5,8 C5.55228475,8 6,7.55228475 6,7 C6,6.44771525 5.55228475,6 5,6 L3,6 L3,4 C3,3.44771525 3.44771525,3 4,3 L10,3 C10.5522847,3 11,3.44771525 11,4 L11,19 C11,19.5522847 10.5522847,20 10,20 L4,20 C3.44771525,20 3,19.5522847 3,19 L3,16 Z" fill="#000000" opacity="0.3" />
                                <path d="M16,3 L19,3 C20.1045695,3 21,3.8954305 21,5 L21,15.2485298 C21,15.7329761 20.8241635,16.200956 20.5051534,16.565539 L17.8762883,19.5699562 C17.6944473,19.7777745 17.378566,19.7988332 17.1707477,19.6169922 C17.1540423,19.602375 17.1383289,19.5866616 17.1237117,19.5699562 L14.4948466,16.565539 C14.1758365,16.200956 14,15.7329761 14,15.2485298 L14,5 C14,3.8954305 14.8954305,3 16,3 Z" fill="#000000" />
                            </g>
                        </svg>
                        <!--end::Svg Icon-->
                    </span>Dışarı Aktar(Gider Detay)
                </button>
                <!--begin::Dropdown Menu-->
                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                    <!--begin::Navigation-->
                    <ul class="navi flex-column navi-hover py-2">
                        <li class="navi-item">
                            <a class="navi-link" id="export_print_detailExpense">
                                <span class="navi-icon">
                                    <i class="la la-print"></i>
                                </span>
                                <span class="navi-text">Yazdır</span>
                            </a>
                        </li>
                        <li class="navi-item">
                            <a class="navi-link" id="export_copy_detailExpense">
                                <span class="navi-icon">
                                    <i class="la la-copy"></i>
                                </span>
                                <span class="navi-text">Kopyala</span>
                            </a>
                        </li>
                        <li class="navi-item">
                            <a class="navi-link" id="export_excel_detailExpense">
                                <span class="navi-icon">
                                    <i class="la la-file-excel-o"></i>
                                </span>
                                <span class="navi-text">Excel</span>
                            </a>
                        </li>
                        <li class="navi-item">
                            <a class="navi-link" id="export_csv_detailExpense">
                                <span class="navi-icon">
                                    <i class="la la-file-text-o"></i>
                                </span>
                                <span class="navi-text">CSV</span>
                            </a>
                        </li>
                        <li class="navi-item">
                            <a class="navi-link" id="export_pdf_detailExpense">
                                <span class="navi-icon">
                                    <i class="la la-file-pdf-o"></i>
                                </span>
                                <span class="navi-text">PDF</span>
                            </a>
                        </li>
                    </ul>
                    <!--end::Navigation-->
                </div>
                <!--end::Dropdown Menu-->
            </div>
            <!--end::Dropdown-->

        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <form class="form">
                    <div class="card-body">
                        <div class="my-5">
                            <h3>Genel Parametreler</h3>
                            <!--begin::Group-->
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Başlangıç Tarihi</label>
                                <div class="col-lg-9 col-xl-9 date">
                                    <input type="text" class="form-control" value="@DateTime.Now.Date.ToShortDateString()" id="kt_datepicker_3" name="txtStartDate" />
                                </div>
                            </div>
                            <!--end::Group-->
                            <!--begin::Group-->
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Bitiş Tarihi</label>
                                <div class="col-lg-9 col-xl-9 date">
                                    <input type="text" class="form-control" value="@DateTime.Now.Date.ToShortDateString()" id="kt_datepicker_3_1" name="txtEndDate" />
                                </div>
                            </div>
                            <!--end::Group-->

                            @await Component.InvokeAsync("PaymentTypeList", new { paymentTypeId = -99 })

                        </div>
                    </div>
                </form>

            </div>

            <div class="col-lg-6">
                <form class="form">
                    <div class="card-body">
                        <div class="my-5">
                            <h3>Tahsilat Parametreleri</h3>

                            @await Component.InvokeAsync("SessionList", new { sessionId = -99 })

                            @await Component.InvokeAsync("BranchList", new { branchId = -99 })

                            @await Component.InvokeAsync("CollectionDefinitionTypeList", new { collectionDefinitionTypeId = -99 })

                            @await Component.InvokeAsync("CollectionDefinitionList", new { collectionDefinitionId = -99 })

                        </div>
                    </div>

                    <div class="card-body">
                        <div class="my-5">
                            <h3>Gider Parametreleri</h3>

                            @await Component.InvokeAsync("ExpenseDefinitionList", new { expenseDefinitionId = -99 })

                            @await Component.InvokeAsync("FixtureDefinitionList", new { fixtureDefinitionId = -99 })

                            @await Component.InvokeAsync("PersonnelDefinitionList", new { personnelDefinitionId = -99, officeId = (int)ViewData["OfficeId"] })

                        </div>
                    </div>
                </form>

            </div>

        </div>

        <!--begin: Search Form-->
        <form>
            <div class="row mt-8">
                <div class="col-lg-12">
                    <a class="btn btn-primary btn-primary--icon" onclick="js_search_CashReport1()" id="btn_Search_CashReport1">
                        <span>
                            <i class="la la-search"></i>
                            <span>SORGULA</span>
                        </span>
                    </a>&#160;&#160;
                    <button class="btn btn-secondary btn-secondary--icon">
                        <span>
                            <i class="la la-close"></i>
                            <span>SIFIRLA</span>
                        </span>
                    </button>
                </div>
            </div>
        </form>
        <!--end: Search Form-->

        <div class="col-lg-12">
            <div class="separator separator-dashed my-10"></div>
        </div>
        <div class="col-lg-12">
            <h3>İCMAL</h3>
        </div>

        <!--begin: Datatable-->
        <table class="table table-separate table-head-custom table-checkable" id="datatable_CashReport1">
            <thead>
                <tr>
                    <th>ŞUBE ADI</th>
                    <th>ÖDEME TÜRÜ</th>
                    <th>TOPLAM TAHSİLAT TUTARI</th>
                    <th>TOPLAM GİDER TUTARI</th>
                    <th>TOPLAM KALAN</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
        <!--end: Datatable-->

        <div class="col-lg-12">
            <div class="separator separator-dashed my-10"></div>
        </div>
        <div class="col-lg-12">
            <h3>TAHSİLAT DETAY</h3>
        </div>

        <!--begin: Datatable-->
        <table class="table table-separate table-head-custom table-checkable" id="datatable_CashReport1DetailCollection">
            <thead>
                <tr>
                    <th>ADI SOYADI</th>
                    <th>TC KİMLİK NO</th>
                    <th>TELEFON 1</th>
                    <th>DÖNEM</th>
                    <th>BRANŞ</th>
                    <th>ŞUBE ADI</th>
                    <th>İŞLEM TÜRÜ</th>
                    <th>İŞLEM TİPİ</th>
                    <th>ÖDEME TÜRÜ</th>
                    <th>ÖDEME TARİHİ</th>
                    <th>TUTAR</th>
                    <th>SAAT</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
        <!--end: Datatable-->

        <div class="col-lg-12">
            <div class="separator separator-dashed my-10"></div>
        </div>
        <div class="col-lg-12">
            <h3>GİDER DETAY</h3>
        </div>

        <!--begin: Datatable-->
        <table class="table table-separate table-head-custom table-checkable" id="datatable_CashReport1DetailExpense">
            <thead>
                <tr>
                    <th>EVRAK SERİ NO</th>
                    <th>GİDER TARİHİ</th>
                    <th>AÇIKLAMA</th>
                    <th>ÖDEME TÜRÜ</th>
                    <th>GİDER TİPİ</th>
                    <th>DEMİRBAŞ</th>
                    <th>PERSONEL</th>
                    <th>TUTAR</th>
                    <th>ŞUBE</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
        <!--end: Datatable-->
    </div>
</div>
<!--end::Card-->

<script>
    function js_search_CashReport1() {

        var sessionId = $('#selectSession option:selected').val();
        var branchId = $('#selectBranch option:selected').val();
        var paymentTypeId = $('#selectPaymentType option:selected').val();
        var collectionDefinitionId = $('#selectCollectionDefinition option:selected').val();
        var collectionDefinitionTypeId = $('#selectCollectionDefinitionType option:selected').val();

        var expenseDefinitionId = $('#selectExpenseDefinition option:selected').val();
        var fixtureDefinitionId = $('#selectFixtureDefinition option:selected').val();
        var personnelDefinitionId = $('#selectPersonnelDefinition option:selected').val();

        var startDate = $('input[name="txtStartDate"]').val();
        if (startDate != null) {
            var startDateSplit = startDate.split('.');
            startDate = startDateSplit[1] + '.'+startDateSplit[0] + '.'+startDateSplit[2];
        }

        var endDate = $('input[name="txtEndDate"]').val();
        if (endDate != null) {
            var endDateSplit = endDate.split('.');
            endDate = endDateSplit[1] + '.' + endDateSplit[0] + '.' + endDateSplit[2];
        }

        var btn = KTUtil.getById("btn_Search_CashReport1");
        KTUtil.btnWait(btn, "spinner spinner-dark spinner-right pr-15", "Sorgulaniyor...");
        

        var tableCashReport1 = $('#datatable_CashReport1').DataTable();
        tableCashReport1.ajax.url(window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/Report/GetCashReport1?'+
            'startDate=' + startDate + '&' +
            'endDate=' + endDate + '&' +
            'paymentTypeId=' + paymentTypeId + '&' +
            'collectionDefinitionId=' + collectionDefinitionId + '&' +
            'collectionDefinitionTypeId=' + collectionDefinitionTypeId + '&' +
            'sessionId=' + sessionId + '&' +
            'branchId=' + branchId + '&' +
            'expenseDefinitionId=' + expenseDefinitionId + '&' +
            'fixtureDefinitionId=' + fixtureDefinitionId + '&' +
            'personnelDefinitionId=' + personnelDefinitionId + '').load();

        var tableCashReport1DetailCollection = $('#datatable_CashReport1DetailCollection').DataTable();
        tableCashReport1DetailCollection.ajax.url(window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/Report/GetCashReport1DetailCollection?'+
            'startDate=' + startDate + '&' +
            'endDate=' + endDate + '&' +
            'paymentTypeId=' + paymentTypeId + '&' +
            'collectionDefinitionId=' + collectionDefinitionId + '&' +
            'collectionDefinitionTypeId=' + collectionDefinitionTypeId + '&' +
            'sessionId=' + sessionId + '&' +
            'branchId=' + branchId + '').load();


        var tableCashReport1DetailExpense = $('#datatable_CashReport1DetailExpense').DataTable();
        tableCashReport1DetailExpense.ajax.url(window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/Report/GetCashReport1DetailExpense?' +
            'startDate=' + startDate + '&' +
            'endDate=' + endDate + '&' +
            'paymentTypeId=' + paymentTypeId + '&' +
            'expenseDefinitionId=' + expenseDefinitionId + '&' +
            'fixtureDefinitionId=' + fixtureDefinitionId + '&' +
            'personnelDefinitionId=' + personnelDefinitionId + '').load();

        setTimeout(function () {
            KTUtil.btnRelease(btn);
        }, 700);

        
    };   

</script>
