@model dynamic

@{
    var _branchs = Model.Branchs as List<Entities.Concrete.Branch>;
    var _idString = Model.Id;
}

<div class="col-md-4 my-2 my-md-0">
    <div class="d-flex align-items-center">
        <label class="mr-3 mb-0 d-none d-md-block">Branş:</label>
        <select class="form-control" id="@_idString">
            <option value="">Hepsi</option>
            @if (_branchs != null)
            {
                @foreach (var branch in _branchs)
                {
                    <option value="@branch.Name.ToUpper()">@branch.Name.ToUpper()</option>
                }

            }
        </select>
    </div>
</div>