@{
    ViewData["Title"] = "Şifre Değiştir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-custom">
    <div class="col-md-6">
        <div class="card-header flex-wrap border-0 pt-6 pb-0">
            <div class="card-title">
                <h3 class="card-label">
                    @ViewData["Title"]
                </h3>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label>Eski Şifre</label>
                <div class="input-group" id="show_hide_oldpassword">
                    <input type="password" class="form-control" placeholder="Eski Şifre" id="txtOldPassword">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="fa fa-eye-slash"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Yeni Şifre</label>
                <div class="input-group" id="show_hide_newpassword">
                    <input type="password" class="form-control" placeholder="Yeni Şifre" id="txtNewPassword">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="fa fa-eye-slash"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Yeni Şifre Tekrar</label>
                <div class="input-group" id="show_hide_againnewpassword">
                    <input type="password" class="form-control" placeholder="Yeni Şifre Tekrar" id="txtAgainNewPassword">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="fa fa-eye-slash"></i>
                        </span>
                    </div>
                </div>
            </div>

        </div>

        <div class="card-footer">
            <button type="reset" class="btn btn-success mr-2" onclick="js_changePasswordQ()">Onayla(Kaydet)</button>
        </div>
    </div>

</div>
<!--end::Card-->

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#show_hide_oldpassword span").on('click', function (event) {
                event.preventDefault();
                if ($('#show_hide_oldpassword input').attr("type") == "text") {
                    $('#show_hide_oldpassword input').attr('type', 'password');
                    $('#show_hide_oldpassword i').addClass("fa-eye-slash");
                    $('#show_hide_oldpassword i').removeClass("fa-eye");
                } else if ($('#show_hide_oldpassword input').attr("type") == "password") {
                    $('#show_hide_oldpassword input').attr('type', 'text');
                    $('#show_hide_oldpassword i').removeClass("fa-eye-slash");
                    $('#show_hide_oldpassword i').addClass("fa-eye");
                }
            });


            $("#show_hide_newpassword span").on('click', function (event) {
                event.preventDefault();
                if ($('#show_hide_newpassword input').attr("type") == "text") {
                    $('#show_hide_newpassword input').attr('type', 'password');
                    $('#show_hide_newpassword i').addClass("fa-eye-slash");
                    $('#show_hide_newpassword i').removeClass("fa-eye");
                } else if ($('#show_hide_newpassword input').attr("type") == "password") {
                    $('#show_hide_newpassword input').attr('type', 'text');
                    $('#show_hide_newpassword i').removeClass("fa-eye-slash");
                    $('#show_hide_newpassword i').addClass("fa-eye");
                }
            });

            $("#show_hide_againnewpassword span").on('click', function (event) {
                event.preventDefault();
                if ($('#show_hide_againnewpassword input').attr("type") == "text") {
                    $('#show_hide_againnewpassword input').attr('type', 'password');
                    $('#show_hide_againnewpassword i').addClass("fa-eye-slash");
                    $('#show_hide_againnewpassword i').removeClass("fa-eye");
                } else if ($('#show_hide_againnewpassword input').attr("type") == "password") {
                    $('#show_hide_againnewpassword input').attr('type', 'text');
                    $('#show_hide_againnewpassword i').removeClass("fa-eye-slash");
                    $('#show_hide_againnewpassword i').addClass("fa-eye");
                }
            });


        });
    </script>
}


<script src="~/js/User/js_User.js"></script>